@charset "utf-8";
/* CSS Document */
#container
{

    display:block;
    background-color:#fff;
    padding:14px 20px;
    padding-bottom:10px;
    margin-bottom: 80px;
}
#comments
{
    display:block;
}
#comments .cmnt, ul .cmnt, ul ul .cmnt
{
    display:block;
    position:relative; 
    padding-left:65px; 
    border-top:1px solid #ddd;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
#comments .cmnt .avatar
{
    position: absolute; top: 8px; left: 0;
}
.cmnt-content header
{
    font-size: 14px; display: block; margin-bottom: 8px;
}
.cmnt-content header .time-post
{
    font-size:10px;
    padding-left:12px;
    color: #777;
}
.user-link
{
    font-weight:bold;
    text-decoration:none;
}
/****************************************/
#backgroud
{
    height:270px;
    border:0;
    border-radius:3px;
    position:relative;	
}
#img-wrapper
{
    height:270px;
    background:#f1f1f1;
    overflow:hidden;
    position:relative;
}
#img-cover
{
    width:1200px;
    position:relative;
}
#index
{
    width:950px;
    height:310px;
    margin:-160px auto 50px;
    position:relative;
    box-shadow:0 0 5px 0 #CCC;
}
.shad
{
    position:absolute;
    top:0;
    left:0;
    height:160px;
    opacity:.95;
    background:#f9f9f9;
}
#user-img
{
    position:absolute;
    height:160px;
    width:160px;
}
#user-img #icon
{
    width:150px;
    height:150px;
    display:table;
    text-align:center;
    vertical-align:middle;
    margin:7px 0 0 7px;
    position:relative;
    border:1px solid #ddd;
}
#user-name
{
    position:absolute;
    top:15px;
    left:170px;
    font-size:14px;
}
.mbg
{
    display:inline-block;
}
.mbg-1
{
    display:inline-block;
    white-space:nowrap;
    vertical-align:middle;
    padding:3px 0 3px 0;
    margin-right:6px;
}
#user-name .name
{
    color:#333;
    font-size:16px;
    font-weight:bold;
    margin:5px 0 0;
    text-decoration:none;
    cursor:pointer;
}
.all-star
{
    cursor:pointer;
    color:#06C;
}
.star
{
    position:relative;
    top:4px;
    color:#DBDB00;
}
#user-function
{
    position:relative;
    top:20px;
    float:right;
}
.store
{
    padding:0 20px 0 0;
}
.icon-sale
{
    color:#0654ba;
    text-decoration:none;
    margin:-1px 5px 0 0;
}
.sale
{
    float:left;
}
#user-info
{
    position:absolute;
    right:20px;
    top:55px;
    font-size:14px;
    line-height:18px;
    max-width:500px;
}
.description
{
    padding:6px 6px 6px 6px;
    word-wrap:break-word;
    width: 700px;
    
    font-weight: bold;
    font-size: 12px;
}
.description h2
{
    position:relative;
    font-size:14px;
    line-height:18px;
    margin-bottom:0;
}
#user-rank
{
    bottom:13px;
    height:150px;
    width:100%;
    position:absolute;
    color:#555;
    left:0;
}
.rating-title
{
    color:#555;
    font-size:14px;
    padding:20px 20px 0;
}
.title-rate
{
    float:left;
}
.rank-detail
{
    width:270px;
    padding:10px 20px 0;
    border-right: 1px solid #efefef;
}
.rank1
{
    margin-bottom:2px;
}
.total
{
    width:55px;
    padding:5px 0 2px 10px;
    font-size:14px;
    font-weight:bold;
}
div#showmore
{
    width: 900px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    height: 40px;
    background: #faf9f9;

    padding-top: 20px;  
}
div#showmore a{
    text-decoration: none;
    font-size: 18px;
}